
.modal{

    &__stats{
    
        &__interactive{

            margin: 0 1vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
            padding-top: 1rem;
        }
    }
}