.skills {
    margin: 0 2vw 0 2vw;
    margin-top: 1rem;
    position: relative;
    padding: 0 2rem;

    &__button {
        position: relative;
        background-color: #00000000;
        cursor: pointer;
        border: 0 solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.4rem;

        &-active {
            padding: 0.4rem;
            position: relative;
            background-color: #edf72f !important;
            border: #ffffff 2px solid;
            border-radius: 10px;

            img {
                width: 2.5rem;

                @media screen and (max-width: 800px) {
                    width: 2rem;
                }
            }
        }

        img {
            width: 2.5rem;

            @media screen and (max-width: 800px) {
                width: 2rem;
            }
        }
    }

    &__text {
        color: #ffffff;
        font-weight: 700;
    }
}
