.toknowskills {
    
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    &__text {
        margin-top: 0.5rem;
    }

    &__stars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        
        @media screen and (max-width: 800px) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
    }

       
}
