.slider__custom-arrows {
    position: absolute;
    top: 50%;
    left: -2.5rem;
    right: -2.5rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button{
        padding: 0;
    }
}

.slider__prev-arrow,
.slider__next-arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

